@charset "UTF-8";

/*---------------------------
トップイメージ
---------------------------*/
main {
  width: 100%;
}

.top {
  background-image: url(../images/back.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  height: 100vh;
}

.top h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 4rem;
  color: #ddd;
}

@media (max-width: 800px) {
  .top h1 {
    font-size: 2rem;
  }
}

.top h1 span {
  display: block;
  margin-top: 30px;
  font-size: 1.5rem;
  color: #ddd;
}

@media (max-width: 800px) {
  .top h1 span {
    font-size: 1rem;
  }
}
